<plugin>
	<nom>Squelettes par Rubrique</nom>
	<auteur>Collectif SPIP</auteur>
	<version>1.0.0</version>
	<icon>layout-link-32.png</icon>
	<etat>test</etat>
	<description>Support des squelettes suffix&eacute;s par num&eacute;ro de rubrique et/ou par code de langue :
(-23.html, =23.html, et .en.html)</description>
	<prefix>squelettes_par_rubrique</prefix>
	<options>squelettes_par_rubrique_options.php</options>
	<necessite id="SPIP" version="[3.0.0-dev;]" />
	<categorie>outil</categorie>
</plugin>